.custom-slider-container {
    margin: 6.25em;
}

.slider-body {
    background: #E8E8E8;
    max-width: 62.5em;
    min-width: 18.75em;
    padding: 3.75em;
}

.months-or-years {
    width: 4.688em
}

.years,
.months {
    font-size: 0.938em;
    color: #6390C3;
    margin: 0;
    border-bottom: 1px solid #91C6DA;
}

.years {
    margin-bottom: 0.625em;
}

.active-p {
    font-weight: 700;
    color: rgb(101, 125, 199);
}

.slider {
    margin-top: 0.625em;
    margin-left: 6.25em;
}

.MuiSlider-markLabel .highlight-text-year {
    font-weight: 700;
    color: black;
}

.MuiSlider-markLabel .marks-months-between-years {
    font-size: 0.9em;
    margin-top: 0.05em;
}

.MuiSlider-markLabel .first-size {
    font-size: 0.625em;
    margin-top: 0.5em;
}

.MuiSlider-markLabel .second-size {
    display: none;
}

.slider-body .css-14pt78w-MuiSlider-rail {
    height: 0.438em;
    opacity: 1;
    color: #EDF1F8;
}

.slider-body .css-1gv0vcd-MuiSlider-track {
    height: 0.188em;
    color: #5CADEA;
}

.slider-body .css-eg0mwd-MuiSlider-thumb {
    border: 0.313em solid;
    border-color: #62B0E9;
    color: white;
}

.slider-body .css-nnid7-MuiSlider-valueLabel {
    white-space: none;
    text-align: center;
    border-radius: 0.75em;
    box-shadow: 0 0 1.25em 0.188em #AFD6DD;
    background-color: white;
    color: #4b7fbb;
    font-weight: 600;
}

.MuiSlider-thumb:last-child .css-nnid7-MuiSlider-valueLabel:last-child {
    top: 4.9em
}

.MuiSlider-thumb:last-child .css-nnid7-MuiSlider-valueLabel:last-child::before {
    bottom: 3.4em;
}


.slider-body,
.slider-body .MuiSlider-markLabel,
.MuiSlider-markLabel div {
    color: #9E9E9E;
}

.slider-body .MuiSlider-mark {
    display: none;
}